[2017-01-10 12:50] quiKsilverItaly opened #1 "UiView is dependent of the current selected "view as"-option on Storyboard"
So I noticed some weird behavior of the UiView, which includes the background video. It is dependent by the current selected "view as:" option on Storyboard (see this screenshot for illustration: http://www2.pic-upload.de/img/32461676/orientation.jpg ). If "iPhone 4" is selected for example, and the program is compiled and started on a iPhone 7 the background video appears to be too small (also Au

[2017-01-10 12:54] quiKsilverItaly commented on #1
If I think about it, the background video does not adapt the Autolayout-settings. It just uses the currently generated width and height of the UiView dependent of the current "view as"-option.

[2017-01-10 15:27] dingwilson commented on #1
Hey @quiKsilverItaly , thanks for giving SwiftVideoBackground a try! 👍

I have also run into this issue with a different project of mine (not related to SwiftVideoBackground) when using AutoLayout on a UIView (or UIView-based objects such as UIImageView). I don't think that the issue is with the background video, as it will fill the dimensions of the UIView. Rather, I think that autolayout is inco

[2017-01-17 16:27] #1 closed

[2017-01-23 10:41] zdog01 opened #2 "thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)"
The following error:
thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)

as it highlights:
player = AVPlayer(url: URL(fileURLWithPath: path!))

in the BackgroundView.swift - Using CocoaPods

[2017-01-23 14:56] dingwilson commented on #2
Hi @zdog01 ! Thanks for giving SwiftVideoBackground a try 👍 . Can you provide me with the entire stack trace and any other debug information?

Without the extra information, I can only make guesses. This issue looks like the BackgroundVideo object cannot find the video, based on the values you pass in for "name" and "type". Did you make sure to target your project when you added the video to your

[2017-01-26 18:01] #2 closed

[2017-02-16 22:39] gilosborne opened #3 "Changing video."
Hello, I'm trying to use this for onboarding videos. As the user hits next I would like to change the video using the same view. Anyway to do this with this plugin? It currently just stays the same video even though I'm trying to update it when the user hits next.

Thanks!

[2017-02-16 22:50] dingwilson commented on #3
@gilosborne I personally have not tried this, but try calling the function `createBackgroundVideo()` again with the name of the new video when the user hits next. Please give that a try and let me know if it works!

If that does not work, I can add some code to provide the ability to de-init the current backgroundVideo AVPlayer, allowing it to be re-init with a new link. 👍

[2017-02-17 04:34] gilosborne commented on #3
Let me take a look tomorrow but I do believe I tried that. I'll confirm and let you know. Thanks for the response!:)

Gilbert Osborne

Osborne.xyz

On Thu, Feb 16, 2017 at 5:50 PM Wilson Ding

<
mailto:Wilson Ding <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/gilosborne
I personally have not tried this, but try calling the function

[2017-02-17 15:00] gilosborne commented on #3
Yes, that is what I’m doing. So this is what I have. I can see by printing the index that the value is changing every time I move within the onboarding. I also know that is working because that is the value I’m using to change the copy below the image. But the video isn’t changing out. :/

If I’m missing something please let me know. Also, huge thanks for the help! This library is saving me a lot

[2017-02-17 18:28] dingwilson commented on #3
Ok, so I've finally had a chance to sit down and take a look at the code. I have managed to replicate your issue, and I have confirmed that my earlier advice does not seem to not work. I did some research and found that the issue is the way that the AVPlayer (the low level video player I am using) is not really built to be overwritten in the way that I was suggesting.

There is a way to get around

[2017-02-17 19:06] gilosborne commented on #3
No worries, thanks for digging into that! I’ll take a look at what you sent and figure it out. 

Thanks again! Have a great weekend.

Gilbert Osborne

Osborne.xyz

On Fri, Feb 17, 2017 at 1:28 PM Wilson Ding

<
mailto:Wilson Ding <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Ok, so I've finally had a chance to sit down and take a look at the code. I

[2017-02-18 21:26] gilosborne commented on #3
Thought I would let you know what I ended up doing to get around this. I’m just removing all subviews of type Background video then adding the sub view again depending on the variable. Great library, thanks!

//remove all subviews

        for v in view.subviews{

            if v is BackgroundVideo{

                v.removeFromSuperview()

            }

        }

        

        //add Backgr

[2017-02-18 21:28] dingwilson commented on #3
Ahh yes that's great! I'm glad you managed to get it working in the end! :) Thanks for using SwiftVideoBackground. 👍

[2017-02-18 21:28] #3 closed

[2017-04-04 05:27] AudienceofOne1991 opened #5 ""Unknown class BackgroundVideo in Interface Builder file.""
Getting this runtime error. In your example project, when run 'pod install', it works, but gives this warning:

[!] The `ExampleLogin [Release]` target overrides the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` build setting defined in `Pods/Target Support Files/Pods-ExampleLogin/Pods-ExampleLogin.release.xcconfig'. This can lead to problems with the CocoaPods installation

[2017-04-04 14:28] dingwilson commented on #5
Hey @AudienceofOne1991 !

Thanks for trying SwiftVideoBackground. 👍

For your runtime error, check to see whether you have the proper settings in your storyboard. Click on the UIView object you created for BackgroundVideo, and then see if it matches the following screenshot:

![Screenshot](https://cloud.githubusercontent.com/assets/8827679/24661736/ca6232cc-1918-11e7-9ba9-8ed953401cce.jpeg)

In te

[2017-04-05 04:40] AudienceofOne1991 commented on #5
ah, ok. connecting the module in the storyboard fixed it! and thank you, it's a great pod!

[2017-04-05 04:54] dingwilson commented on #5
I'm glad it helped! :) Thanks for using SwiftVideoBackground. 👍

[2017-04-05 04:54] #5 closed

[2017-07-09 19:39] AbdulazizAlmohsen opened #6 "mute the video"
is there anyway to mute the video ?

[2017-07-09 19:43] dingwilson commented on #6
There is currently no functionality built in to control the volume of the video being played. That is definitely a feature that should be included, and I will push out an update in the near future with volume control functionality.

[2017-09-30 19:44] dingwilson opened #7 "Swift 4 Compatibility"
'AVLayerVideoGravityResizeAspectFill' has been renamed to 'AVLayerVideoGravity.resizeAspectFill'

[2017-10-01 12:37] AbdulazizAlmohsen opened #8 "Type of expression is ambiguous without more context!"

[2017-10-01 12:41] #8 closed

[2017-10-02 13:23] AbdulazizAlmohsen commented on #7
+1

[2017-10-02 19:55] dingwilson commented on #6
@AbdulazizAlmohsen

I have created SwiftVideoBackground version 0.07, which includes a boolean `isMuted`.

[code]

Setting isMuted to true will cause the background video to be muted.

Thanks for trying SwiftVideoBackground, and I hope this update helps solve your issue! 👍

[2017-10-02 19:55] #6 closed

[2017-10-02 19:56] dingwilson commented on #7
Added SwiftVideoBackground version 0.07, which fixes the above issue and provides Swift 4 compatibility.

[2017-10-02 19:56] #7 closed

[2017-10-23 10:14] moridaffy opened #9 "Video stops playing"
Video stops playing after exiting to the SpringBoard for few seconds and returning back to the app. The UIView just stops at one frame and "freezes".

[2017-10-26 16:41] dingwilson commented on #9
Hey @moridaffy , can you try version 1.0.0 (run `pod upgrade`) and see if that fixes your issues? You may need to re-init the `BackgroundVideo` upon app re-entering foreground.

[2017-10-31 15:31] mrsnax opened #10 "iOS 9"
can this pod use for iOS 9 ?

[2017-10-31 21:16] dingwilson commented on #10
Hi @mrsnax

I have modified the minimum deployment target to accept iOS 8.0 and later for the latest release (1.0.1). Please update to the latest version and see if that fixes your issue.

Thanks for trying SwiftVideoBackground! 👍

Wilson

[2017-11-01 17:06] mrsnax commented on #10
thank you for the updated ! love it !

[2017-11-01 17:06] #10 closed

[2017-11-06 14:47] mrsnax opened #11 "Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value"
Hi

I tried the VideoBackground when running project facing a error like this ?

`Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value`

And the code like this :

`backgroundVideo.createBackgroundVideo(name: "Video", type: "mp4")`
`backgroundVideo.isMuted = true`

FYI, I've done to embedded the video and copy if Need to the proejcts

any suggestion ?

[2017-11-06 14:58] #9 closed

[2017-11-06 21:37] dingwilson commented on #11
Hmm, I cannot seem to replicate this issue. Do you happen to know what optional is producing the nil?

[2017-11-07 10:17] mrsnax commented on #11
Hi wilson

Its my fault, the video only work for UIView not UIViewController 😋

Chase Close 👍

[2017-11-07 10:39] #11 closed

[2017-11-16 03:36] mrsnax opened #12 "Video not fit"
Hi,

I using constraint with all safe area, but my video doesn't fit to full when Im changing iPhone X to iPhone 8 simulator.

How to fix this?

[2017-11-16 20:55] dingwilson commented on #12
I have not had a chance to test iPhone X safe area constraints. If possible, could you show me via screenshots what you mean? I will take a look at it when I have a chance. Thanks!

[2017-11-18 04:48] mrsnax commented on #12
Here's the screenshots

![img_d933e18f1bd6-1](https://user-images.githubusercontent.com/6369589/32976985-4e3d1d1e-cc56-11e7-95b8-43d2adb9c88c.jpeg)

its iPhone 8 Plus, when changing into iPad, the video only fit 30% of screens

[2017-11-18 04:53] dingwilson commented on #12
Ahh, I see. Are you using auto-layout? I believe this issue is similar to #1 . Please see my response to that issue (quoted below):

See if that fixes your issue for you.

[2017-11-20 16:20] mrsnax commented on #12
Yep its autolayout but when im Archive the projects the conflicts still not resolve.

Any solution else?

[2017-11-22 05:20] dingwilson commented on #12
Hmm, in that case, I'm not sure what the issue might be. Do you have this issue with other UI elements? (ex: Can you create a random UIView with the same constraints and see if you have the same auto layout issues?)

[2017-12-08 23:04] dingwilson opened #14 "Other Sources of Audio (Music) are Dampened when using SwiftVideoBackground"
-- @quanvo87

Need to look into potential solutions to this issue.

[2017-12-24 02:26] #14 closed

[2017-12-27 07:46] AbdulazizAlmohsen opened #18 "weak' may only be applied to class and class-bound protocol types,..."
I have noticed this error when I redownloaded my Xcode I don't know why this happened now

<img width="718" alt="untitled" src="https://user-images.githubusercontent.com/18103561/34374629-2abb5020-eaf3-11e7-9498-bff4150f7807.png">

[2017-12-27 09:25] quanvo87 commented on #18
If a `pod update` occurred, and your `SwiftVideoBackground` updated to 2.0, then you will need to use the new APIs. See our [migration guide](https://github.com/dingwilson/SwiftVideoBackground/blob/master/migration-2.0.0.md) for info (`SwiftVideoBackground` no longer subclasses `UIView`, it is it's own class).

If you want to continue using the older version, specify it in your `Podfile` and do an

[2017-12-27 11:16] AbdulazizAlmohsen commented on #18
problem solved !! Thanks

[2017-12-27 14:55] dingwilson commented on #18
Hey @AbdulazizAlmohsen ! For anyone else who stumbles on this issue: I believe the issue here is that you are accidentally creating an instance of `SwiftVideoBackground`, instead of `BackgroundVideo`.  The correct code should have been:

[code]

Note that this only works before 2.0.0. For versions 2.0.0 and higher, please see the migration guide listed above.

I'm glad you figured out the issue!

[2017-12-27 14:55] #18 closed

[2018-01-05 05:23] quanvo87 opened #19 "Possible memory leak"
Playing with instruments shows a 16 kb leak. Going to investigate further. What I've observed:
- happens if video has sound
- responsible frame: `UISoundNewDevice`

Videos without sound don't appear to leak. Could also be a completely separate issue caused by something else in the app I was testing.

[2018-01-05 20:49] dingwilson commented on #19
Are you testing this on a simulator or the actual device?

Sounds like an issue with AVAudioPlayer. There are several documented cases online of AVAudioPlayer leaking memory. This is an issue with Apple's framework, rather than our own. I'm not sure of the root cause, but apparently this issue should go away if you profile/run on an actual device.

If the issue is reproducible on an actual device,

[2018-01-05 22:14] quanvo87 commented on #19
Upon further testing I don't think my leak has to do with `SwiftVideoBackground`😀

[2018-01-05 22:14] #19 closed

[2018-01-05 22:52] quanvo87 commented on #19
I think what you said was the case--AVPlayer leaks on the simulator. On my device I wasn't seeing the leak.

[2018-01-24 15:35] dingwilson commented on #12
I hope that you managed to solve your issues! If not, please feel free to reopen or create a new issue. Thanks!

[2018-01-24 15:35] #12 closed

[2018-02-08 13:33] cesaredecal opened #21 "Use of unresolved identifier 'VideoBackground()'?"
Was this library recently updated?

    import UIKit
    import SwiftVideoBackground

    class MyViewController: UIViewController {
        private let videoBackground = VideoBackground() // error
    }

is no longer working: `Use of unresolved identifier 'VideoBackground'`.

[2018-02-08 13:51] quanvo87 commented on #21
The above code should work. Did this happen after a `pod install`? Does cleaning your build folder and re-building do anything? (in Xcode, Product > Clean Build Folder)

[2018-02-08 13:56] csr commented on #21
Yeah, thanks for the fast reply. I had out-to-date source repos so I had to run `pod install --repo-update`. Thanks again, closing this.

[2018-02-08 13:56] #21 closed

[2018-02-08 20:02] perdona opened #22 "Load video from assets catalog"
Only videos located at the project root can be played? What about videos that are included in xcassets?

[2018-02-08 20:08] dingwilson commented on #22
Hey @perdona

SwiftVideoBackground looks for the video in the app's bundle. This should include anything in the xcassets (although to be honest, I have never tried doing so). To check whether or not a video is part of the app's bundle, check your project's `Build Phases` section (as seen below).

<img width="559" alt="screenshot" src="https://user-images.githubusercontent.com/8827679/35995583-70cb

[2018-02-08 20:11] perdona commented on #22
I tried to do so, and it doesn't find the video inside xcassets.

[2018-02-08 20:13] perdona commented on #22
`BackgroundVideo: [ERROR] could not find video`
The video in question is included in xcassets, with the same name as before, when it was included inside root folder.

[2018-02-08 22:32] dingwilson commented on #22
Hmm thats interesting.. After doing some more research, it seems that to access non-image files in a .xcassets file, you have to use [`NSDataAsset`](https://developer.apple.com/documentation/uikit/nsdataasset) to reference the file. The .xcassets are bundled together, and cannot be individually referenced using `Bundle.main`.

Video retrieval using `NSDataAsset` is not currently supported by Swift

[2018-02-08 22:44] quanvo87 commented on #22
What would it take to add this feature?

[2018-02-08 23:16] perdona commented on #22
Shouldn't we use xcassets for this scenario?
What is the best practise to store a video that plays in bg of a view?
Also would love to contribute... I'll try to research that when I have some time.
Thanks for the feedback!

[2018-02-09 01:25] dingwilson commented on #22
@quanvo87 :

I actually wanted to see what you think would be best. Personally, I see three potential implementations:

1. Add some functionality to existing `play()` function to check for videos in both the bundle and the .xcassets. Play whichever video is found.

2. Overload `play()` function with two different sets of constructors. One for getting video from bundle, one from xcassets. (essentia

[2018-02-09 01:33] dingwilson commented on #22
@perdona :

I'm not exactly sure of the best practices for storing videos. Personally, I just individually bundle videos and audio files with my app.

From my understanding, while .xcassets can store any data (audio, video, images, etc.), they are most beneficial for images/icons due to being able to store/group 1x,2x,3x versions for different (retina) screen sizes. This does not translate into au

[2018-02-09 04:12] dingwilson opened #23 "Support loading videos from remote URLs"
@quanvo87 suggested adding the ability to load videos from remote URLs for playback

### Tasks
- [ ] Add functionality to load videos from remote URLs for playback
- [ ] Document feature in README

[2018-02-09 04:13] dingwilson opened #24 "Change error handling from printing a message to throwing"

[2018-02-09 04:17] quanvo87 commented on #22
From looking around, I'm not seeing a clear reason to put videos in xcassets. In addition, it seems like when I put a video into `xcassets`, its `mp4` type is lost, is it being stored as `NSData`? If that's the case you'd have to convert it to video then play. It seems like best practices is to put the video in the main bundle. Let us know what your research finds.

[2018-02-09 19:21] quanvo87 commented on #24
I suppose this could implemented in a minor release, deprecating the old API. We could do this at the same time as #23.

[2018-02-09 19:22] quanvo87 commented on #23
This will be implemented on the first request to do so.

[2018-02-09 20:13] cesaredecal opened #25 "Music"
So here’s the thing. When I’m playing music and I open the app with this video layer the music stops playing music even though the isMuted property is set to true. Can we make it so that if the video layer is muted this won’t happen? It’s a matter of better UX.

[2018-02-09 20:14] csr commented on #25
I can help with this. If would like me to help out I can totally look into it.

[2018-02-09 21:34] quanvo87 commented on #25
There is a section in the README that should address this: https://github.com/dingwilson/SwiftVideoBackground#preventing-video-from-muting-other-audio-on-device
Let me know you run into any problems.

[2018-02-09 21:41] csr commented on #25
It works great! Apologies for not looking into this in the read me in advance. Thanks!

[2018-02-09 21:41] #25 closed

[2018-02-10 01:00] quanvo87 commented on #25
No prob! The docs should probably be more clear.

[2018-02-14 04:00] cesaredecal opened #26 "Issue with rotation"
If I rotate my iPad the video doesn't adapt to the screen size (please check GIF: https://giphy.com/gifs/l4pSVnVwldE37HkuQ). Is there any way I can fix this?

[2018-02-14 04:22] dingwilson commented on #26
Hmm thats interesting... Lets try debugging this and seeing if this is a SwiftVideoBackground issue or a layout issue.

Could you try setting the background color of the view you are using (the one being passed in to SwiftVideoBackground) to something other than clear? Then try running the app again, rotating the iPad horizontally, and see if the color (view) shows full screen.

[2018-02-14 04:35] csr commented on #26
Thanks, I think it's the same as before, just the background color changed. Please check out this screenshot:

![simulator screen shot - ipad pro 12 9-inch - 2018-02-13 at 20 34 45](https://user-images.githubusercontent.com/10504710/36187906-53f09740-10fd-11e8-98a9-20d352d6e1b5.png)

[2018-02-14 04:41] dingwilson commented on #26
Ok, in that case, it shouldn't be a layout issue. I will look into this and see what I can find. Thanks for letting us know about this issue!

[2018-02-14 04:42] quanvo87 commented on #26
Ahh...seems like we'll need to hold a weak reference to `UIView` being passed in, and observe for a change in it's frame, and then rebuild the `AVPlayer` accordingly. Maybe there's even a native notification that can tell us when the phone orientation has changed. My first guess at an implementation for a fix.

[2018-02-14 04:49] dingwilson opened #27 "Handle application state transitions (go to background/foreground)"
Sometimes video pauses after app is placed in the background.

We should add an observer for when the application returns to foreground to loop the video again upon returning to foreground.

[2018-02-14 05:03] quanvo87 commented on #26
I will try to do some work on this tomorrow.

[2018-02-14 05:41] dingwilson opened #28 "Create example application"
- [x] Move sources files into `Sources` folder
- [x] Create example project inside xcodeproj, including a mp4 video asset
- [x] Add tests using mp4 video asset
- [x] Change podspec to only target source files in `Sources` folder
- [x] Investigate changes necessary to Carthage

[2018-02-14 21:33] #27 closed

[2018-02-15 01:03] quanvo87 opened #31 "Open up properties like `isMuted` or `willLoopVideo` to be able to be changed at runtime"
also maybe rethink the name for `alpha`, to maybe `darkness` or something

[2018-02-15 01:06] quanvo87 opened #32 "Set AVAudioSession to ambient by default?"
The thing that makes the video not mute other sounds playing on the device.

Could set it by default on init, with optional opt out.

[2018-02-15 01:17] quanvo87 commented on #28
Yes we need this so we can test while developing lol.

[2018-02-15 03:42] dingwilson commented on #32
This sounds like a great idea! Do you see this potentially having any negative effect on apps using AVAudioSession for other purposes?

[2018-02-15 04:37] quanvo87 opened #33 "Add features to README"
- url support (#23) when it's done
- adjust when device rotates
- sound, loop, alpha etc

[2018-02-15 04:40] quanvo87 commented on #32
This will negatively affect them if:
- they purposely want their app to mute other device sounds `&&`
- they init a `VideoBackground` instance with the default params

To avoid this maybe we can:
- clearly put in README what default param does
- make it a required param

Maybe it would be best to make it a required param with no default value.

[2018-02-15 04:52] dingwilson commented on #32
ok, personally I think that we should definitely set AVAudioSession to ambient by default. I believe most people wouldn't want to affect existing music/sound unless they have their own music/sound playing (`isMuted = false`).

I think the way we should proceed is this:
- set AVAudioSession to ambient by default
- clearly document this default, what it does, and offer them some easy way (a param ma

[2018-02-15 05:04] dingwilson commented on #31
Definitely agree with both.

1. One possible implementation might be having them as variables with a didSet() that checks if player is running, and updates the player or something?

2. Completely agree with the name change. Alpha is a terrible param name haha. Idk what I was thinking. `darkness` sounds... dark. I would say `brightness`, but then the 0 (lightest) to 1 (darkest) doesn't really make

[2018-02-15 05:06] dingwilson opened #34 "Explore implementing conventional commits and automating CHANGELOG"
Implementing [conventional commits](https://conventionalcommits.org) could help add some automation for updating CHANGELOG/releases.

- [ ] Use [semantic-release](https://github.com/semantic-release/semantic-release) with Travis CI
- [ ] Add checks to ensure all commits follow conventional commits

[2018-02-15 05:08] dingwilson opened #35 "Explore automating Jazzy doc generation"
Explore automating jazzy doc generation/updating upon successful PR merge + travis tests pass.

[2018-02-15 05:19] dingwilson opened #36 "README images not showing up properly in jazzy docs/cocoapods page"
Issue resides in using relative links for all images in Assets folder.

Currently bypassing jazzy docs issue with an extra copy phase in Makefile. Cocoapods images are broken.

We should switch to using absolute references to images.

[2018-02-15 05:42] #36 closed

[2018-02-15 05:43] quanvo87 commented on #36
what about the raw data link like https://raw.githubusercontent.com/quanvo87/WQNetworkActivityIndicator/master/WQNetworkActivityIndicator/Assets/screenshot.png or is that what you're talking about

[2018-02-15 05:44] quanvo87 commented on #34
yea I was trying to follow this. does just the PR name have to follow it? or the first commit of the PR? or every commit...I guess we can just squash all PRs

[2018-02-15 05:45] dingwilson commented on #36
yup! thats exactly what I was talking about. I was originally just calling `Assets/screenshot.png`. I switched everything in the PR to use the raw data link like you listed above.

[2018-02-15 05:46] quanvo87 commented on #31
Yep I almost named this `3.0 Considerations`.
And yes `didSet()` magics was what I was thinking.

[2018-02-15 05:46] dingwilson commented on #34
either every commit has to follow, or we can squash and just have the PR name follow it. There is also a check for PRs which can prevent merges if commits don't meet the requirements for conventional commits.

[2018-02-15 05:46] quanvo87 commented on #32
Yea we can do that

[2018-02-15 06:19] dingwilson commented on #26
Hey @cesaredecal

Just wanted to give you an update! @quanvo87 did some amazing work on the observers to handle device orientation change in PR #30 . This has now been merged into SwiftVideoBackground version 2.0.3, and should fix the issue you described above.

Feel free to update to the latest version and test it out for yourself!

run `pod update SwiftVideoBackground` or modify the entry in you

[2018-02-15 06:23] csr commented on #26
Thanks so much guys! will test the new version out very soon.

[2018-02-16 18:37] csr commented on #26
Hey guys, I've tried out the new version. It works well but the alpha change isn't applied to the entire screen after rotating the device. Please check this out:

![simulator screen shot - ipad pro 12 9-inch - 2018-02-16 at 10 35 32](https://user-images.githubusercontent.com/10504710/36323338-6b6245fe-1305-11e8-8ca2-0cbecde646ac.png)

[2018-02-16 18:41] dingwilson commented on #26
@cesaredecal ahh good catch! I'll get that fixed right away...

[2018-02-16 19:12] dingwilson commented on #26
Hey @cesaredecal

Release 2.0.4 should fix the alpha overlay issues you were dealing with! Sorry about that haha.

Please let us know if you experience any more issues. Thanks again for reporting this issue to us! 👍

-- Wilson

[2018-02-16 19:19] csr commented on #26
thanks Wilson, working great :)

[2018-02-16 19:19] #26 closed

[2018-02-16 19:25] dingwilson commented on #22
@perdona :

From what it seems like after reading @quanvo87 's input, I don't know if it is a good idea to support retrieval of videos from xcassets. We want this library to remain light/easy-to-use, and I think that adding this functionality will cause confusion without much gain. I will go ahead and close out this issue. If you disagree, please feel free to continue the discussion here, or creat

[2018-02-19 06:24] quanvo87 opened #40 "ability to pass in array of video names and have them played one after another"

[2018-02-19 06:30] dingwilson commented on #40
This is a great idea! We should definitely include this as functionality in 3.0.0.

PS: if you need this functionality rn, one hack-y way I've used before is using `ffmpeg` to directly concatenate multiple mp4's into a single file. Here is my [commit](https://github.com/dingwilson/dotfiles/commit/572680e17f7f805d0c80239b062d60faa58a8a4b) on how I did this.

[2018-02-19 20:42] #24 closed

[2018-02-19 20:42] #33 closed

[2018-02-19 20:42] #40 closed

[2018-02-20 06:12] #35 closed

[2018-02-20 19:35] dingwilson opened #49 "Add Codecov"

[2018-02-20 23:40] #28 closed

[2018-02-20 23:40] #49 closed

[2018-02-20 23:41] dingwilson opened #50 "Improve CodeCov"
Improve code coverage

[2018-02-20 23:47] quanvo87 commented on #50
I can try helping with this after fixing multi video

[2018-02-21 05:13] dingwilson opened #52 "Deprecate Multiple Videos in Single View"
Deprecate ability to play multiple videos one-after-another in the same view, due to issues with how Apple handles each video. This feature will be removed in release 3.0.0.

- [ ] Add deprecation message for next patch release
- [ ] Remove feature in release 3.0.0
- [ ] Add alternative solution using FFMPEG to concatenate video assets

[2018-02-21 05:16] dingwilson opened #53 "Migrate to singleton"
Only one instance of VideoBackground is needed to display any number of video backgrounds on views. Therefore, we will be migrating to a singleton. Note that this will be a breaking change, and will probably occur at release 3.0.0

[2018-02-21 05:58] quanvo87 commented on #53
There is already a singleton option, and I guess we could leave init public and deprecate it.

[2018-02-21 16:10] quanvo87 commented on #52
For reference this is a rough cut of the code that worked for me for merging vids (sound removed):
[code]

[2018-02-22 05:41] quanvo87 opened #54 "add pause and resume"
Scenario:
- a video is being played on a `UIView`
- that `UIView` becomes hidden (ie another view controller is pushed onto the stack)
- that `UIView` becomes un-hidden again (ie previously mentioned view controller is closed)

What happens:
It seems that while `UIView` was hidden, the video wasn't playing, and when it gets un-hidden, it plays the video super fast, up to the point that it would be

[2018-02-22 19:47] quanvo87 commented on #52
Maybe we can keep it in...there are uses for it, like when you only know what videos you want to play at runtime.

That said it should really only be promoted if we:
- make a vid merging lib
- pull in that lib as a dependency and merge vids, then play
- warn that there is some async processing time involved, that grows with the video sizes
  - this processing time is not that bad from my experienc

[2018-02-22 19:54] quanvo87 commented on #54
After some research, automating this may be a bad idea. There are too many scenarios where a `UIView` playing a video may/may not want to be paused:
- another view is pushed on top of it
- another view partially covers it, at what threshold do you pause?
- another view is pushed on top, at what transparency of this other view threshold do you pause?
- the view is in a cell which is off screen

tld

[2018-02-22 20:17] dingwilson commented on #54
Your points make sense. Lets still implement `pause()` and `resume()`, as I can see definite use cases for those. It shouldn't be too difficult.

[2018-02-22 21:32] quanvo87 commented on #54
Yes, that way users can manually pause and resume when they want, ie when their view will be offscreen/covered/whatever the case.

I'm going to do this after I add support for playing videos on multiple views with a single instance of `SVB`.

The idea is:
- anytime a user wants to play a vid on a view, they basically call:
  - `VideoBackground.shared.play(view, video)` (this is already implemented

[2018-02-22 21:35] quanvo87 commented on #54
Regarding the singleton aspect, after multiview support is added, there is no reason to instantiate your own instance of `SVB` (and it may even be able to break something if you do and start doing weird things with it). Thus we can deprecate `init`, and in the next major release make it private.

[2018-02-22 21:35] dingwilson commented on #54
That looks great! Good call on keeping track of the metadata... I didn't think of that haha.

[2018-02-22 21:49] quanvo87 commented on #54
I'm also thinking (I guess I'm bored af/a nerd), that we can even move the APIs into an extension of `UIView`, so that you could just call `view.play(video)`.

The initial problem with this is that where do we retain the observers required for this view? If we could access a singleton retaining this `NSMapTable` in these extensions, then that should be no problem, and the API is even cleaner.

Thi

[2018-02-22 22:15] dingwilson commented on #54
That would be beautiful.

[2018-02-22 23:20] quanvo87 commented on #54
Interestingly I am not seeing the speed up on an actual device. Maybe just a simulator issue. Nonetheless I'll add pause() and resume().

[2018-02-23 23:23] dingwilson commented on #53
@quanvo87 this will no longer be necessary after our decision to switch to a UIView extension moving forward, correct?

[2018-02-24 00:08] quanvo87 commented on #53
Correct

[2018-02-24 01:11] dingwilson commented on #53
Oops, just read your message in the PR.. I'll leave this open until we decide how we want to move forward.

[2018-02-24 19:48] #53 closed

[2018-02-26 15:50] quanvo87 opened #56 "short how to on ffmpeg and link in readme"

[2018-02-27 01:48] #23 closed

[2018-02-27 01:48] #31 closed

[2018-02-27 01:48] #32 closed

[2018-02-27 01:48] #50 closed

[2018-02-27 01:48] #52 closed

[2018-02-27 01:48] #54 closed

[2018-02-27 13:19] quanvo87 opened #57 "readme says 3 additional params in `play()`, there are 4"

[2018-02-27 14:15] quanvo87 opened #59 "fix broken images on CocoaPods page, add screen shot"
https://cocoapods.org/pods/SwiftVideoBackground

You can add a screen shot from the Podspec. It will display on the right side bar on the CocoaPods page. I believe this can also be a gif, in which the screenshot could be the Spotify thing.

a reference: https://cocoapods.org/pods/GMStepper

[2018-02-27 14:19] dingwilson commented on #59
whoa thats pretty cool! I'll add the Screenshot to the podspec.

The broken images on CocoaPods page was fixed a while ago. However, CocoaDocs (the service being used to regen the docs) has been down for a few weeks now. Waiting for it to go back up before I can trigger a re-parse. See: https://github.com/CocoaPods/cocoadocs.org/issues/585

[2018-02-27 15:52] dingwilson opened #60 "Add `pod spec lint` to Travis"

[2018-02-27 16:26] #57 closed

[2018-02-27 16:26] #59 closed

[2018-02-27 16:26] #60 closed

[2018-03-03 17:23] #56 closed

[2018-03-12 01:16] quanvo87 commented on #22
https://developer.apple.com/library/content/qa/qa1913/_index.html 🤔

[2018-03-12 01:19] dingwilson commented on #22
Yeah it is definitely possible to store/retrieve other data files (incl. videos) from Asset Catalogs. The question is not whether we can, rather whether we should. What do you think?

[2018-03-12 01:23] quanvo87 commented on #22
Since these Apple docs are explaining how to do so, I think it's worth further investigation.

Also according to this [repo](https://github.com/saoudrizwan/Piano),

If this were true, it seems possible the same could also apply to videos.

[2018-03-12 17:07] perdona commented on #22
Nice! I will try to collaborate anytime soon!

[2018-03-12 19:35] quanvo87 commented on #22
This person says you can't store videos in the asset catalogue and still use them, though doesn't explain why.

https://stackoverflow.com/questions/48767676/load-video-from-assets-xcassets?noredirect=1&lq=1

[2018-05-17 09:25] ndemie opened #64 "Crash on cleanUp"
https://github.com/dingwilson/SwiftVideoBackground/blob/78cbe752332dfa3766a899ff794fbd567e355b5c/SwiftVideoBackground/Sources/VideoBackground.swift#L181

Crashes on above line due to the superview of that view being nil sometimes

[2018-05-17 10:52] quanvo87 commented on #64
Thanks for the catch. We should have a fix out by today.

[2018-05-17 10:53] ndemie commented on #64
Actually, after testing the issue seems to be something else. I haven't found the cause yet, but even after adding a check it can fail

[2018-05-17 10:56] quanvo87 commented on #64
I see. Yes, I thought it was safe to call `removeFromSuperview` without checking for nil, though [Apple docs](https://developer.apple.com/documentation/uikit/uiview/1622421-removefromsuperview) aren't 100% clear. Is it possible to post the other code you're using to get the occasional crash? In the meantime I'll do my own investigation.

[2018-05-17 11:37] ndemie commented on #64
It's basically just this. And it fails when going back to this viewcontroller on the earlier mentioned line. Earlier versions of the library did not have this problem.

[code]

[2018-05-17 12:26] ndemie commented on #64
Actually, some more digging has taken me to the issue.

Before the play is called on the `videoBackground`, `view.layoutIfNeeded()` is called. If I comment that bit, the library will not crash the app. The crash does not happen on an iPhone X, but it does happen on a 6S. Both running 11.2.5

[2018-05-17 13:20] quanvo87 commented on #64
I wasn't able to recreate the crash. I think there may be many other relevant factors. I'll keep looking into possible consequences of these interactions.

One question I have: do you need to play the vid in `viewWillAppear`? Having the vid play on `viewDidLoad` or `init` should be fine. Having it replay in `viewWillAppear` restarts the vid from the  beginning every time the view controller re-app

[2018-05-17 15:03] ndemie commented on #64
Thanks for the tip!

[2018-06-05 13:32] dingwilson commented on #64
Hey @ndemie, thanks for using SwiftVideoBackground! From the conversation, it seems that you have solved your issue. Therefore, I am going to go ahead and close this. If you are still having issues, feel free to continue the discussion below (and I will reopen this issue), or create a new issue. Thanks again!

[2018-06-05 13:32] #64 closed

[2018-06-19 06:32] sjmueller opened #65 "Dependency "SwiftVideoBackground" has no shared framework schemes for any of the platforms: iOS"
When installing with carthage using `github "dingwilson/SwiftVideoBackground"` and then running:
[code]
The process fails with:

I tried with both carthage `0.28.0` and `0.29.0` with the same problem. Not sure what the issue is, but a [solution on stack overflow](https://stackoverflow.com/questions/35054788/carthage-no-shared-framework-schemes-for-ios-platform-for-my-own-framework) talks about nee

[2018-06-20 14:01] dingwilson commented on #65
Hey @sjmueller ! Thanks for bringing this to our attention... Yes, I think the schemes for SwiftVideoBackground are not properly configured. I will look into this and fix it later this week when I get a chance. However, pull requests and contributions are highly encouraged as well, so please feel free to give it a try if you'd like. Thanks! 👍

[2018-06-20 18:02] sjmueller commented on #65
Wish I was more experienced with preparing a lib for Carthage — if so, I would’ve already submitted a PR!

[2018-06-23 12:37] natashaPolovnikova commented on #65
I have the same problem!

[2018-06-25 04:40] dingwilson commented on #65
Hey @sjmueller @natashaPolovnikova

Thanks for bringing this issue to my attention! This has now been fixed in PR #66, and is now live in master. 👍 Please try running `carthage update --platform iOS` again, and everything should work. I've tested it locally using a sample test project, and it seemed to work just fine, so I will go ahead and close this issue. If either of you run into any more issu

[2018-06-25 04:40] #65 closed

[2018-09-20 12:20] Michele404 opened #69 "Swift 4.2"
Update to 4.2 please

[2018-10-23 03:15] dingwilson commented on #69
SwiftVideoBackground 3.1.0 now supports Swift 4.2! 🎉

Closing as complete. Please feel free to open another issue if you run into any bugs. Thanks for using SwiftVideoBackground. :)

[2018-10-23 03:15] #69 closed

[2018-11-14 05:05] dingwilson commented on #34
Closing for now - if there is interest, I can reopen later on.

[2018-11-14 05:05] #34 closed

[2018-11-14 05:06] dingwilson commented on #22
Closing for now - if there is interest, I can reopen again.

[2018-11-14 05:06] #22 closed

[2018-11-21 07:30] korantengNanaYaw opened #72 "Bug, Video playing when app becomes active even though i paused it"
Why does a video automatically plays when my app applicationDidBecomeActive,but i paused the video when the applicationWillResignActive

``

[2018-11-21 18:17] dingwilson commented on #72
Hey @korantengNanaYaw ! If I am understanding you correctly, you are asking why SwiftVideoBackground seems to resume the background video when `applicationDidBecomeActive` is called after the video was paused when `applicationWillResignActive` was called.

If so, this is the current expected behavior, implemented [here](https://github.com/dingwilson/SwiftVideoBackground/blob/master/SwiftVideoBackg

[2018-11-21 18:17] #72 closed

[2018-12-13 23:46] Michele404 opened #73 "Check the download of video"
How can I check when the video finish to download and its ready to display to me?

[2018-12-16 22:29] dingwilson commented on #73
Hi @Michele404

There is currently no way to check when the video finishes downloading. When attempting to call SwiftVideoBackground with an external url, the code instantiates an `AVPlayer` object with the `URL` given. ([Apple's docs for this init](https://developer.apple.com/documentation/avfoundation/avplayer/1385706-init)) The `AVPlayer` object handles the downloading and starts the video when

[2019-01-16 15:02] dingwilson opened #74 "Travis builds failing"

[2019-01-16 15:04] dingwilson commented on #73
Hi @Michele404 !

I am closing this issue due to inactivity. Hopefully, you found what you were looking for! If not, please feel free to continue the conversation below (or create a new issue). Thanks again for using SwiftVideoBackground!

Best,
Wilson

[2019-01-16 15:08] Michele404 commented on #73
I didn’t fixxed it yet. Can you explain me how do it?

[2019-01-16 15:11] dingwilson commented on #73
As far as I know, there is not a way to monitor the video download, because it is abstracted in the `AVPlayer`'s init call. Like I said above, the call is usually extremely fast, so there is no noticeable delay in the downloading/playing. Is there a specific reason you need to have this information? There might be a different way of approaching the issue. Otherwise, you may just want to download t

[2019-02-17 21:55] #74 closed

[2019-03-07 16:33] adrienblh opened #77 "Shared video background?"
Hi there, first of all thanks for this great framework, however to  display a video in a background on many UIViews without reloading or switch view?

[2019-03-07 18:38] dingwilson commented on #77
Hi @adrienblh

Thanks for trying out SwiftVideoBackground! 👍 I'm glad you like it.

In order to display a video on many UIViews in a single ViewController, I suggest instantiating multiple instances of VideoBackground and using one for each of your views. You can find an example of this [here](https://github.com/dingwilson/SwiftVideoBackground/blob/master/SwiftVideoBackground/MoreViewController.sw

[2019-03-07 18:38] #77 closed

[2019-03-07 18:55] adrienblh commented on #77
Hi there thank you for your answer!
I was thinking about this kind of login / signup flow :
One video in the background of many Uiviews without reloading the video and without showing the transition?

Thank you so much for taking the time!

Cordialement,

DIRECTION ARTISTIQUE | PARALLEL
ADRIEN BELAICH

M +33(0)665 463 137 | +44(0) 7397 131298
WWW.PARALLELMAGAZINE.CO.UK

[2019-03-07 21:18] dingwilson commented on #77
Yes that is definitely possible. In that case, I would recommend keeping the single instance of `VideoBackground`, and instead just modifying which uiviews are hidden/present, depending on which state it is in (login vs signup vs ...). This allows you to avoid the transitions between views.

[2019-03-07 21:46] adrienblh commented on #77
You are very kind to take time to answer me!
Thank you so much! I am having 3 UIViews (login, sign up, forget password) how would the code you talked about look like? How to hide/present transitions between the view? I am very sorry, I am a real beginner, thank you so much for your help and for sharing your knowledge!

Cordialement,

DIRECTION ARTISTIQUE | PARALLEL
ADRIEN BELAICH

M +33(0)665 463

[2019-04-02 16:25] dingwilson opened #79 "Update to Swift 5"

[2019-04-14 15:56] #79 closed

[2019-04-28 20:44] ahmedsafadii opened #82 "Run the video audio in silent mode"
How I can run the background video if the phone is silent !?

[2019-05-19 19:58] dingwilson commented on #73
Hi @Michele404 !

I am closing this issue due to inactivity. Hopefully, you found what you were looking for! If not, please feel free to continue the conversation below (or create a new issue). Thanks again for using SwiftVideoBackground!

Best,
Wilson

[2019-05-19 19:58] #73 closed

[2019-05-29 07:03] yawboafo opened #83 "Is it possible to use this on a UICollectionViewCell or UITableviewCell ?"

[2019-05-29 17:51] dingwilson commented on #83
Hi @yawboafo , This library should work on any UIView! :) You can use the existing UIView, or add a UIView into any Cell object. Please feel free to let me know if there are any issues. Thanks! Closing.

[2019-05-29 17:51] #83 closed

[2019-05-29 17:52] dingwilson commented on #82
Hello @ahmedsafadii , can you provide more information?

[2019-06-03 12:05] ahmedsafadii commented on #82
yeah I guess you need to do something like this

[code]

[2019-06-03 12:06] ahmedsafadii commented on #82
https://stackoverflow.com/questions/35289918/play-audio-when-device-in-silent-mode-ios-swift

[2019-06-03 15:45] dingwilson commented on #82
Hey @ahmedsafadii, yes that should work! Great job finding a solution to your problem! I will go ahead and close this issue as complete. If you have any further issues, please feel free to continue the conversation, or create a new issue. Thanks!

[2019-06-03 15:45] #82 closed

[2019-07-19 09:15] blbnv opened #84 "Device auto lock doesn't work when video playing (iOS 11)"
The problem is that device does not locking automatically after 30 seconds if user does no input activity in the application with video background (in my case this is login page).

Since we use AVPlayer we can set a [property](https://developer.apple.com/documentation/avfoundation/avplayer/2990522-preventsdisplaysleepduringvideop?language=objc) `preventsDisplaySleepDuringVideoPlayback` but this on

[2019-07-19 17:38] dingwilson commented on #84
hmm interesting, I never considered auto-lock when `AVPlayer` is active. Please feel free to submit a PR with the `preventsDisplaySleepDuringVideoPlayback` implementation for > iOS 12! I will do some research when I get a chance on ways to mitigate this issue for < iOS 12.

[2019-07-21 09:07] zeEzOoo opened #85 "Run url video offline from cache"
How can I cached a video from url for playing offline?

[2019-07-21 11:16] blbnv commented on #84
Thank you.
I will firstly research on some solution what could be appied for both 11 and 12 iOS versions.
In case of no resuluts I will submit a pull request for > iOS 12 fix.

[2019-07-22 03:12] dingwilson commented on #85
Hi @m-murtaza, we do not currently support offline caching for SwiftVideoBackground.

The easiest solution would be to download/cache the video outside of the library, then display it using SwiftVideoBackground. Or, if this is something that you believe would be useful to many of our users, feel free to create a PR with this functionality! 👍 Please let me know if you have any questions.

[2019-08-08 11:47] vkaramov opened #87 "Xcode 10.3 compilation issue"
Target SwifVideoBackground-iOS has compilation issues with Xcode 10.3:

<img width="488" alt="CompilerIssues" src="https://user-images.githubusercontent.com/5604492/62700800-7bfad500-b9eb-11e9-9ba7-3dc6bd541c6e.png">

[2019-08-08 11:50] vkaramov commented on #87
Possible solution: update Swift compiler version to Swift 5.

[2019-08-08 15:11] dingwilson commented on #87
Hi @vkaramov, what version of Swift are you currently using?

[2019-08-09 06:44] vkaramov commented on #87
@dingwilson I'm using version 5.0 with Xcode 10.3

[2019-08-16 14:54] ghislainleblanc opened #88 "Screen flash when resuming."
If I leave foreground with the video background playing, there is a delay before it resumes.

See video:
https://drive.google.com/file/d/153Xzvo8zOWa4oJV-09qrwYrDVBEFaVVP/view

[2019-08-19 20:05] dingwilson commented on #87
Hi @vkaramov - is this still an issue you are experiencing?

[2019-08-20 06:23] vkaramov commented on #87
@dingwilson Yes, sure

[2019-08-23 05:24] dingwilson commented on #84
This has been fixed as of v 3.4.0! 🎉 Closing

[2019-08-23 05:24] #84 closed

[2019-11-04 10:58] Mayankpalotra opened #91 "How can i get the buffering time of video? Please help me if you have any idea."
Actually i want to show the loader when video is buffed.

[2020-01-13 19:15] sleekuser opened #92 "Carthage building issue"
There are issues while building the framework. The project seems to have errors while compiling

[2020-01-13 19:51] dingwilson commented on #92
Hey @sleekuser - can you provide some more details?

[2020-01-13 20:01] divyeshmakwana96 commented on #92
This is what I have in my cartfile:
`github "dingwilson/SwiftVideoBackground"`

And the build error message is as below:
[code]

These errors are related to Swift 5 for the most part.

[2020-01-15 15:38] dingwilson commented on #92
What version of Swift are you using?

[2020-01-15 20:54] divyeshmakwana96 commented on #92
Apple Swift version 5.1.3 (swiftlang-1100.0.282.1 clang-1100.0.33.15)

[2020-05-31 22:30] MohdElBasyouni commented on #83
Could you guide with an example ?
I'm trying to play video on each cell in a UITableView and it's only displaying one

[2020-05-31 23:40] dingwilson commented on #83
Hi @Patchivic - It sounds like you are using the singleton, which only has one instance of AVPlayer. If you need to play more than one video, you will have to instantiate a `VideoBackground` object per each cell. If that is not the case, please feel free to open a new issue with some example code or how to reproduce, and I am more thank happy to help! :)

[2020-06-01 11:47] MohdElBasyouni opened #93 "Playing different videos on each UITableViewCell"
Hi @dingwilson ,
I'm trying to create a tableView with each cell has a separate video. Assuming that the tableView cells are only 2 for the below code
Video string is placed in a static array and instances of VideoBackground

`var videoArray = ["video1", "video2", "video3", "video4", "video5"]`
`let videoBackground1 = VideoBackground()`
`let videoBackground2 = VideoBackground()`

and inside the ce

[2020-06-02 02:56] dingwilson commented on #93
Hey @MohdElBasyouni - try keeping an instance of `VideoBackground` inside of each TableView cell, and then calling something like:

[code]

Assuming each cell has `videoBackground` object (instance of `VideoBackground`), and you want to play the video in the background of the TableView cell (`contentView`, or any other `UIView`)

[2020-06-02 15:22] MohdElBasyouni commented on #93
Hey @dingwilson - it worked but,..
I'm working on a real device and the device is stopping the application with no debug error, and Xcode is again trying to reconnect to the device. Even when the application is installed and not connected to the laptop, but charging, it disconnects from the charger.

I never have seen this behaviour, but it seems that it's too heavy on the memory or processing.

D

[2020-06-03 16:35] dingwilson commented on #93
Hey @MohdElBasyouni - I completely agree that this would be very memory intensive. Unfortunately, the core use-case/functionality for this library is to provide a single video background, for usage on things like splash screens. If you are interested in improving system resource usage, checkout https://stackoverflow.com/a/17412454 for an implementation where you can use multiple `AVPlayerItem`s wi

[2020-06-08 22:57] MohdElBasyouni commented on #93
Hey @dingwilson - I have almost tried everything and ended up with an idea to convert the video to animated GIF and try to display the GIF in the background.
I will start checking the possibility of that and if I will face the same problem with the memory. If you recommend a certain POD, I would be grateful.
Thanks bro, you may close the issue if wanted to :)

[2020-06-10 16:17] dingwilson commented on #93
Sounds good! Hope everything works out. :)

[2021-01-07 20:59] waleedmakarem opened #94 "cannot play video saved into phone storage"
Dear sir,
Thanks so much for the Ince library.
Currently I am trying too play mp4 files that is saved into phone storage. I cannot run it. My code is :

 let paths = FileManager.default.urls(for: .documentDirectory, in: .userDomainMask)
            let documentsDirectory = paths[0]
        print(documentsDirectory)

        let path = NSSearchPathForDirectoriesInDomains(.documentDirectory, .userDo

[2021-01-09 06:19] dingwilson commented on #94
Hey @waleedmakarem! Thanks for using SwiftVideoBackground! It looks like the url is incorrect. See:

https://developer.apple.com/documentation/foundation/1508628-url_loading_system_error_codes/nsurlerrorunsupportedurl

[2021-01-25 11:10] phiasco12 opened #95 "How do you access the video layer?"
I'm trying to figure out how to access the video layer so I can do some animation on it.

The doc says playerLayer is the layer. but how do I use this in my code?

I've tried this and it does work:

`let playerLayer = VideoBackground()`

and

`let playerLayer = AVPlayerLayer()`

any help would be appreciated.

[2021-06-23 08:09] BoltAlot2 opened #96 "Url to pull video stream in the background?"
let url = URL(string: "https://viewer.millicast.com/v2?streamId=w9dvKs/kkmy5gxc")!
VideoBackground.shared.play(view: view, url: url)

So i have the above code in my viewDidLoad(), and for the videos it works great.
However, I want to pull from a live stream and display it, but it always is a blank screen even though the stream is working.
Would you have any ideas on how to resolve that issue or is

[2021-07-06 03:19] dingwilson commented on #96
Hey @BoltAlot2 - I tried to look at that stream url you have listed and it seems like nothing is playing. I am not too familiar with handling live streams - do you have the same issue with native AVPlayer?

[2022-06-01 05:36] lalkrishna opened #97 "Support for SPM Integration"
Please add support to SPM (Swift package manager)

[2022-06-01 16:25] dingwilson commented on #97
Hi @lalkrishna - I have been pretty busy recently with little time to work on open source work. However, we welcome contributions! So please feel free to open a PR with SPM support if you are interested and have some spare time! Otherwise, I will look to add support when I have some bandwidth.

[2022-07-09 13:54] IKorabel opened #98 "How to define that video from Web is loading and how can i display it to user?"
Hi, your library is cool. However, i would like to know how to track that video from Web is loading? I want to show to user something like loading spinner during the video loading.

[2022-07-10 16:24] dingwilson commented on #98
Hello, we do not currently support this functionality, but it is possible. You can observe the [timeControlStatus](https://developer.apple.com/documentation/avfoundation/avplayer/1643485-timecontrolstatus) notification on the AVPlayer and show/hide the loading spinner when the player is not playing.

If this is something you're interested in, you can definitely open a PR to support this!